<div class="intro row" [ngClass]="{
    'shrinked': !introVisible
}">
    <div class="col-lg-12">
        <h1>
            <b>5 minute chill.</b><br/><br/>
            That's all it takes for anyone to get back up to speed, improve focus and boost productivity.
            Give it a go. Pick your favorite sounds below and switch off from the world for 5 minutes.<br/><br/>
            <small>Headphones recommended.</small>
        </h1>

        <div (click)="toggleIntro()" class="collapsable">
            <span [ngClass]="{
                'glyphicon-chevron-up': introVisible,
                'glyphicon-chevron-down': !introVisible
            }" class="glyphicon"></span>
        </div>
    </div>
</div>


<div class="row">
    <div *ngFor="let item of list"
         [class.is-playing]="item.isPlaying"
         [ngStyle]="{
            'background-image': 'url('+getThumbnail(item)+')',
            'background-size': 'cover',
            'background-position': 'center'
         }"
         class="col-md-6 sound-container text-center">

        <div class="play-pause-container" (click)="item.isPlaying ? stop(item) : play(item)">
            <span *ngIf="item.isPlaying">{{item.label}}</span>
            <span *ngIf="!item.isPlaying">{{item.label}}</span>
        </div>

        <div
                [style.opacity]="item.isPlaying ? 1 : 0"
                class="volume-container">
            <app-slider-component

                    [currentValue]="item.volume"
                    (onChange)="changeVolume(item, $event)"
            ></app-slider-component>
        </div>

        <div>&nbsp;</div>
    </div>
</div>