<div class="row">
    <app-intro></app-intro>
</div>

<div class="row">
    <div *ngFor="let item of list"
         [class.is-playing]="item.isPlaying"
         [ngStyle]="{
            'background-image': 'url('+getThumbnail(item)+')',
            'background-size': 'cover',
            'background-position': 'center'
         }"
         class="col-md-6 sound-container text-center">

        <div class="play-pause-container" (click)="item.isPlaying ? stop(item) : play(item)">
            <span *ngIf="item.isPlaying">{{item.label}}</span>
            <span *ngIf="!item.isPlaying">{{item.label}}</span>
        </div>

        <div
                [style.opacity]="item.isPlaying ? 1 : 0"
                class="volume-container">
            <app-slider-component

                    [currentValue]="item.volume"
                    (onChange)="changeVolume(item, $event)"
            ></app-slider-component>
        </div>

        <div>&nbsp;</div>
    </div>
</div>