.intro {
    background-image: url('/assets/images/malte-wingen-381988-unsplash.jpg');
    background-size: cover;
    background-position: center center;
}

h1 {
    margin-top: 200px;
    margin-bottom: 100px;
    color: white;
}