<div class="intro">
    <div class="col-md-1 col-xs-1"></div>
    <div class="col-md-4 col-xs-10">
        <div class="clearfix"></div>
        <h1 class="text-muted">
            5 Minute Chill

            <br/>
            <small>
                Meditation you can fit in your lunch break.
            </small>

            <br/>
            <br/>
            <small>
                Five minutes of mindfulness is all it takes to improve focus and boost productivity.

                Pick a combination of sounds below, put on your headphones and... just chill.
            </small>
        </h1>
    </div>
    <div class="col-md-7 col-xs-1"></div>
    <div class="clearfix"></div>
</div>
